// https://jigsaw.w3.org/css-validator/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.nav {
    background-color: #0f3670;
    padding: 1rem 0;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.hero {

}